label {
	cursor: pointer;
}

.vawe-type-ul {
	display: flex; 
	padding: 0; 
	justify-content: space-around;
}

.visualizer-wrapper {
    margin: auto;
    padding: 20px 20px;
    border: 1px solid;
    background: #ccc;
    box-shadow: 0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset, 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 6px 6px 0px 0px;
    border-bottom: 0;
    padding-bottom: 4px;
}

.visualizer-wrapper .name {
	text-align: center;
    color: #4b1e78;
    font-weight: bold;
}

.visualizer {
	border: 1px solid #192f2c;
}

.vawe-type-ul li {
	margin: 0px 10px;
}

.vawe-type-ul li:first-child {
	margin: 0px 10px;
	margin-left: 0px;
}
.console-item {
margin: 0px 5px;
}

.option-bar {
	display: flex;
}

.option-2 {
	margin-left: 20px;
}

.header {
	position: relative;
}
.logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}
.header h1 {
	margin-left: 60px;
}

ul.piano {
  height:18.875em;
  width:34em;
  margin:5em auto;
  margin-top: 0;
  padding:3em 0 0 3em;
  position:relative;
  border:1px solid #160801;
  border-radius:1em;
  background: #ccc;
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
}

ul.piano li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  float:left;
  display: flex;
}

ul.piano .white {
  height:16em;
  width:4em;
  z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}

ul.piano .white:active, ul.piano .white.active {
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

ul.piano .black {
  height:8em;
  width:2em;
  margin:0 0 0 -1em;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%)
}

ul.piano .black:active, ul.piano .black.active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

ul.piano .a,ul.piano .g,ul.piano .f,ul.piano .d,ul.piano .e,ul.piano .c {
  margin:0 0 0 -1em
}

ul.piano li:first-child {
  border-radius:5px 0 5px 5px
}

ul.piano li:last-child {
  border-radius:0 5px 5px 5px
}

@media (max-width:600px)  {
  body {
    margin: 4px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .option {
    margin-top: 12px;
  }

  ul.piano {
    padding-left: 1.2em;
    width: 23.5em;
  }
  ul.piano .white {
    width: 3em;
  }
  ul.piano .black {
    width: 2em;
  }
}

.chord-name {
  font-size: 18px;
  text-align: center;
  align-self: flex-end;
  width: 100%;
}

.chord-name.cl-black {
  color: white;
}